{% extends 'base.html.twig' %}
{% block content %}
    <main class="home-content">
        <section class="home-preview">
            <div class="container">
                <!-- Begin advantages list -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="advantages-list">
                            <li>



                                <div class="advantages-ico color-2">
                                    <img src="{{ asset('img/paper-plane.png') }}" alt="paper-plane') }}">
                                </div>
                                <div class="advantages-desc">
                                    <h4>Learning & Fun</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus volupta</p>
                                </div>
                            </li>
                            <li>
                                <div class="advantages-ico color-4">
                                    <img src="{{asset('img/baby-food.png') }}" alt="baby-food">
                                </div>
                                <div class="advantages-desc">
                                    <h4>Healthy Meal</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus volupta</p>
                                </div>
                            </li>
                            <li>
                                <div class="advantages-ico color-3">
                                    <img src="{{asset('img/mortarboard.png') }}" alt="mortarboard">
                                </div>
                                <div class="advantages-desc">
                                    <h4>Expert Teachers</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus volupta</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End advantages list -->

                <!-- Begin home preview main -->
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="preview-card">
                            <div class="preview-card-logo">
                                <a href="about.html"><img src="{{asset('img/about-prev.jpg') }}" alt="about-prev"></a>
                            </div>
                            <div class="preview-card-desc">
                                <a href="about.html" class="h2">About Us</a>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                                <a href="{{asset('about.html') }}" class="button color-2">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="preview-card">
                            <div class="preview-card-logo">
                                <img src="{{asset('img/benefits-prev.jpg') }}" alt="benefits-prev">
                            </div>
                            <div class="preview-card-desc">
                                <h2>Our Benefits</h2>
                                <ul class="benefits-list">
                                    <li class="color-1"><p>Education games and activities</p></li>
                                    <li class="color-2"><p>Teaching kids to express their creativity</p></li>
                                    <li class="color-3"><p>Gifted & Talented Program</p></li>
                                    <li class="color-4"><p>Music activities for all</p></li>
                                    <li class="color-5"><p>Learning languages</p></li>
                                    <li class="color-1"><p>We encourage an honest, open culture</p></li>
                                    <li class="color-2"><p>We put children first</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="schedule color-2">
                            <h3>Working Hours</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit  sed do eiusmod tempor incididunt ut labore et dolore eu fugiat nulla pariatur</p>
                            <ul class="schedule-list">
                                <li>
                                    <p>Monday <span>9 AM - 7 PM</span></p>
                                </li>
                                <li>
                                    <p>Tuesday <span>9 AM - 7 PM</span></p>
                                </li>
                                <li>
                                    <p>Wednesday <span>9 AM - 7 PM</span></p>
                                </li>
                                <li>
                                    <p>Thursday <span>9 AM - 7 PM</span></p>
                                </li>
                                <li>
                                    <p>Friday <span>9 AM - 7 PM</span></p>
                                </li>
                            </ul>
                            <a href="{{asset('contacts.html') }}" class="button color-4">Contact Us</a>
                        </div>
                    </div>
                </div>
                <!-- End home preview main -->
            </div>
        </section>

        <!-- Begin home action -->
        <section class="action-wrap color-3" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="action">
                            <div class="action-desc">
                                <a href="{{asset('single-event.html') }}" class="h2">parents day</a>
                                <h6>20-25 nov, 18</h6>
                            </div>
                            <!-- Begin timer -->
                            <div id="timer" class="timer-wrap">
                                <div class="adaptive-wrap">
                                    <div class="timer-block-wrap">
                                        <div class="timer-block color-1">
                                            <div class="timer-count">
                                                <p id="days"></p>
                                            </div>
                                            <p class="timer-text">Days</p>
                                        </div>
                                    </div>
                                    <div class="timer-block-wrap">
                                        <div class="timer-block color-2">
                                            <div class="timer-count">
                                                <p id="hours"></p>
                                            </div>
                                            <p class="timer-text">Hours</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="adaptive-wrap">
                                    <div class="timer-block-wrap">
                                        <div class="timer-block color-3">
                                            <div class="timer-count">
                                                <p id="minutes"></p>
                                            </div>
                                            <p class="timer-text">Minutes</p>
                                        </div>
                                    </div>
                                    <div class="timer-block-wrap">
                                        <div class="timer-block color-4">
                                            <div class="timer-count">
                                                <p id="seconds"></p>
                                            </div>
                                            <p class="timer-text">Seconds</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End timer -->
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/ballon_1.png" class="moving-element one" alt="baloon" data-move='plus' data-move-speed='25'>
            <img src="img/ballon_2.png" class="moving-element two" alt="baloon" data-move='plus' data-move-speed='45'>
            <img src="img/little_boy.png" class="action-bg" alt="little_boy">
        </section>
        <!-- End home action -->

        <!-- Begin home classes -->
        <section class="classes-wrap" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Our Classes</h2>
                        <div class="classes-slider">
                            <div class="slider color-4" id="classes-slider">
                                <div class="card">
                                    <div class="classes-preview-card">
                                        <a href="single-classes.html" class="classes-logo"><img src="img/classes-1.jpg" alt="classes"></a>
                                        <ul class="classes-info-wrap">
                                            <li class="classes-info color-2">
                                                <h6>Age group</h6>
                                                <p>2 - 6 years</p>
                                            </li>
                                            <li class="classes-info color-4">
                                                <h3>56 $</h3>
                                            </li>
                                            <li class="classes-info color-1">
                                                <h6>Class size</h6>
                                                <p>15</p>
                                            </li>
                                        </ul>
                                        <div class="classes-text">
                                            <a href="single-classes.html" class="h3">Art Class</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-classes.html" class="button color-1">Details</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="classes-preview-card">
                                        <a href="single-classes.html" class="classes-logo"><img src="img/classes-2.jpg" alt="classes"></a>
                                        <ul class="classes-info-wrap">
                                            <li class="classes-info color-2">
                                                <h6>Age group</h6>
                                                <p>3 - 8 years</p>
                                            </li>
                                            <li class="classes-info color-4">
                                                <h3>32 $</h3>
                                            </li>
                                            <li class="classes-info color-1">
                                                <h6>Class size</h6>
                                                <p>18</p>
                                            </li>
                                        </ul>
                                        <div class="classes-text">
                                            <a href="single-classes.html" class="h3">Sport Section</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-classes.html" class="button color-3">Details</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="classes-preview-card">
                                        <a href="single-classes.html" class="classes-logo"><img src="img/classes-3.jpg" alt="classes"></a>
                                        <ul class="classes-info-wrap">
                                            <li class="classes-info color-2">
                                                <h6>Age group</h6>
                                                <p>2 - 10 years</p>
                                            </li>
                                            <li class="classes-info color-4">
                                                <h3>20 $</h3>
                                            </li>
                                            <li class="classes-info color-1">
                                                <h6>Class size</h6>
                                                <p>26</p>
                                            </li>
                                        </ul>
                                        <div class="classes-text">
                                            <a href="single-classes.html" class="h3">Swimming Class</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-classes.html" class="button color-4">Details</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="classes-preview-card">
                                        <a href="single-classes.html" class="classes-logo"><img src="img/classes-2.jpg" alt="classes"></a>
                                        <ul class="classes-info-wrap">
                                            <li class="classes-info color-2">
                                                <h6>Age group</h6>
                                                <p>6 - 10 years</p>
                                            </li>
                                            <li class="classes-info color-4">
                                                <h3>40 $</h3>
                                            </li>
                                            <li class="classes-info color-1">
                                                <h6>Class size</h6>
                                                <p>18</p>
                                            </li>
                                        </ul>
                                        <div class="classes-text">
                                            <a href="single-classes.html" class="h3">Sport Section</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-classes.html" class="button color-2">Details</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="classes-preview-card">
                                        <a href="single-classes.html" class="classes-logo"><img src="img/classes-1.jpg" alt="classes"></a>
                                        <ul class="classes-info-wrap">
                                            <li class="classes-info color-2">
                                                <h6>Age group</h6>
                                                <p>5 - 9 years</p>
                                            </li>
                                            <li class="classes-info color-4">
                                                <h3>50 $</h3>
                                            </li>
                                            <li class="classes-info color-1">
                                                <h6>Class size</h6>
                                                <p>15</p>
                                            </li>
                                        </ul>
                                        <div class="classes-text">
                                            <a href="single-classes.html" class="h3">Art Class</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-classes.html" class="button color-5">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/buterfly.png" class="moving-element" alt="buterfly" data-move='plus' data-move-speed='20'>
            <img src="img/bush.png" class="bottom-img" alt="bush">
        </section>
        <!-- End home classes -->

        <!-- Begin home enroll -->
        <section class="home-enroll color-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Enroll Your Child To A Class</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="enroll.html" class="button color-3">Enroll</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End home enroll -->

        <!-- Begin home team -->
        <section class="home-team" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Our Awesome Teachers</h2>
                    </div>
                    <div class="col-md-12">
                        <ul class="row team-list">
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-4">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="img/employe-1.jpg" alt="employe-1"></a>
                                        <figcaption>
                                            <h3>Emma Fields</h3>
                                            <p><em>Music Teacher</em></p>
                                            <p>Expirience: <strong>8 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-1">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="img/employe-2.jpg" alt="employe"></a>
                                        <figcaption>
                                            <h3>Stella Cristal</h3>
                                            <p><em>Preschoold Teacher</em></p>
                                            <p>Expirience: <strong>6 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-2">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="img/employe-3.jpg" alt="employe"></a>
                                        <figcaption>
                                            <h3>Lesli Benson</h3>
                                            <p><em>Art Teacher</em></p>
                                            <p>Expirience: <strong>3 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-3">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="img/employe-4.jpg" alt="employe"></a>
                                        <figcaption>
                                            <h3>Sam Kiels</h3>
                                            <p><em>Preschoold Teacher</em></p>
                                            <p>Expirience: <strong>10 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-4">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="img/employe-5.jpg" alt="employe"></a>
                                        <figcaption>
                                            <h3>Anna Grey</h3>
                                            <p><em>Literacy Teacher</em></p>
                                            <p>Expirience: <strong>6 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-1">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="img/employe-6.jpg" alt="employe"></a>
                                        <figcaption>
                                            <h3>Bill Teston</h3>
                                            <p><em>Sport Teacher</em></p>
                                            <p>Expirience: <strong>2 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <img src="img/bird.png" class="moving-element one" alt="bird" data-move='plus' data-move-speed='25'>
            <img src="img/bee.png" class="moving-element two" alt="bee" data-move='plus' data-move-speed='40'>
        </section>
        <!-- End home team -->

        <!-- Begin photo gallery -->
        <section class="home-gallery color-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Photo Gallery</h2>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="gallery-wrap">
                            <div class="gallery-card">
                                <a href="img/gallery-popup-1.jpg" class="color-2" data-featherlight="image">
                                    <img src="img/gallery-1.jpg" alt="gallery">
                                    <span class="hide-desc h5">Learn With Fun</span>
                                </a>
                            </div>
                            <div class="gallery-card">
                                <a href="img/gallery-popup-2.jpg" class="color-2" data-featherlight="image">
                                    <img src="img/gallery-2.jpg" alt="gallery">
                                    <span class="hide-desc h5">Learn With Fun</span>
                                </a>
                            </div>
                            <div class="gallery-card">
                                <a href="img/gallery-popup-3.jpg" class="color-2" data-featherlight="image">
                                    <img src="img/gallery-3.jpg" alt="gallery">
                                    <span class="hide-desc h5">Learn With Fun</span>
                                </a>
                            </div>
                            <div class="gallery-card">
                                <a href="img/gallery-popup-4.jpg" class="color-2" data-featherlight="image">
                                    <img src="img/gallery-4.jpg" alt="gallery">
                                    <span class="hide-desc h5">Learn With Fun</span>
                                </a>
                            </div>
                            <div class="gallery-card">
                                <a href="img/gallery-popup-5.jpg" class="color-2" data-featherlight="image">
                                    <img src="img/gallery-5.jpg" alt="gallery">
                                    <span class="hide-desc h5">Learn With Fun</span>
                                </a>
                            </div>
                            <div class="gallery-card">
                                <a href="img/gallery-popup-6.jpg" class="color-2" data-featherlight="image">
                                    <img src="img/gallery-6.jpg" alt="gallery">
                                    <span class="hide-desc h5">Learn With Fun</span>
                                </a>
                            </div>
                            <div class="gallery-card">
                                <a href="img/gallery-popup-7.jpg" class="color-2" data-featherlight="image">
                                    <img src="img/gallery-7.jpg" alt="gallery">
                                    <span class="hide-desc h5">Learn With Fun</span>
                                </a>
                            </div>
                            <div class="gallery-card">
                                <a href="img/gallery-popup-8.jpg" class="color-2" data-featherlight="image">
                                    <img src="img/gallery-8.jpg" alt="gallery">
                                    <span class="hide-desc h5">Learn With Fun</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <a href="gallery.html" class="button color-4">View More</a>
                    </div>
                </div>
            </div>
            <img src="img/caterpillar.png" class="bottom-img parallax-img" alt="caterpillar">
        </section>
        <!-- End photo gallery -->

        <!-- Begin home events -->
        <section class="events-slider-section" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Our Events</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="event-slider-wrap">
                            <div class="event-slider color-1" id="event-slider">
                                <div class="card">
                                    <figure class="event-card color-2">
                                        <a href="single-event.html" class="event-logo">
                                            <time datetime="2018-06-01">1 jun <br> 2019</time>
                                            <img src="img/event-1.jpg" alt="event-1">
                                        </a>
                                        <figcaption>
                                            <a href="single-event.html" class="h4">World Kids Day</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-event.html" class="read-more">Read More  <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="card">
                                    <figure class="event-card color-4">
                                        <a href="single-event.html" class="event-logo">
                                            <time datetime="2018-06-05">15 nov <br> 2019</time>
                                            <img src="img/event-2.jpg" alt="event-2">
                                        </a>
                                        <figcaption>
                                            <a href="single-event.html" class="h4">World Kids Day</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-event.html" class="read-more">Read More  <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="card">
                                    <figure class="event-card color-1">
                                        <a href="single-event.html" class="event-logo">
                                            <time datetime="2018-06-01">20 nov <br> 2019</time>
                                            <img src="img/event-1.jpg" alt="event-1">
                                        </a>
                                        <figcaption>
                                            <a href="single-event.html" class="h4">World Kids Day</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-event.html" class="read-more">Read More  <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="card">
                                    <figure class="event-card color-3">
                                        <a href="single-event.html" class="event-logo">
                                            <time datetime="2018-06-05">5 dec <br> 2019</time>
                                            <img src="img/event-2.jpg" alt="event-2">
                                        </a>
                                        <figcaption>
                                            <a href="single-event.html" class="h4">World Kids Day</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-event.html" class="read-more">Read More  <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/bee-2.png" class="moving-element one" alt="bee" data-move='plus' data-move-speed='35'>
        </section>
        <!-- End home events -->

        <!-- Begin home skils -->
        <section class="skills-section color-4" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="skill-block" data-skill='36'>
                            <img src="img/mortarboard.png" alt="mortarboard">
                            <p class="h2 skill-number">-</p>
                            <h5>Years of Experience</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="skill-block" data-skill='46'>
                            <img src="img/books.png" alt="books">
                            <p class="h2 skill-number">-</p>
                            <h5>Professional Teachers</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="skill-block" data-skill='458'>
                            <img src="img/rocket.png" alt="rocket">
                            <p class="h2 skill-number">-</p>
                            <h5>Happy <br> Kids</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="skill-block" data-skill='18'>
                            <img src="img/atom.png" alt="atom">
                            <p class="h2 skill-number">-</p>
                            <h5>Awesome <br> Classes</h5>
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/buterfly-2.png" class="moving-element one" alt="buterfly" data-move='plus' data-move-speed='55'>
        </section>
        <!-- End home skils -->

        <!-- Begin home testimonials -->
        <section class="testimonial-section" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-slider color-5" id="testimonial-slider">
                            <div class="card">
                                <div class="testimonial-wrap color-3">
                                    <div class="testimonial">
                                        <div class="author-avatar">
                                            <img src="img/testimonial-1.jpg" alt="testimonial">
                                        </div>
                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <h5>Marry Doe, <span>Mother</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="testimonial-wrap color-1">
                                    <div class="testimonial">
                                        <div class="author-avatar">
                                            <img src="img/employe-6.jpg" alt="testimonial">
                                        </div>
                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <h5>Sam Doe, <span>Father</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="testimonial-wrap color-2">
                                    <div class="testimonial">
                                        <div class="author-avatar">
                                            <img src="img/employe-3.jpg" alt="testimonial">
                                        </div>
                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <h5>Carolyne Brooke, <span>Mother</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="testimonial-wrap color-4">
                                    <div class="testimonial">
                                        <div class="author-avatar">
                                            <img src="img/employe-2.jpg" alt="testimonial">
                                        </div>
                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <h5>Carolyne Brooke, <span>Mother</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="testimonial-wrap color-5">
                                    <div class="testimonial">
                                        <div class="author-avatar">
                                            <img src="img/employe-1.jpg" alt="testimonial">
                                        </div>
                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <h5>Carolyne Brooke, <span>Mother</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/bird-2.png" class="moving-element one" alt="bird" data-move='plus' data-move-speed='40'>
            <img src="img/flower.png" class="bottom-img" alt="flower">
        </section>
        <!-- End home testimonials -->
    </main>

{% endblock content %}
